/* Write your CSS here */

.PlanetItem-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PlanetItem-image {
  width: 80%;
}
.PlanetItem-heading {
  color: #f8fafc;
  text-align: center;
  font-size: 21px;
}
.PlanetItem-para {
  color: #f1f5f9;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .PlanetItem-image {
    width: 550px;
  }
  .PlanetItem-heading {
    font-size: 31px;
  }
  .PlanetItem-para {
    font-size: 21px;
    width: 55%;
  }
}
